<%= semantic_form_for(@incident) do |f| %>
	<%= f.input :tipo, :as => :select, :collection => Incident::TIPOS%>
	<%= f.input :estado, :as => :select, :collection => Incident::ESTADOS%>
	<%= f.input :descricao%>
	<%= f.input :prioridade, :as => :select, :collection => Incident::PRIORITYS%>
	<%= f.input :solucao%>

<br>
<div class="group navform wat-cf">
  <button class="button" type="submit">
    <%= image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
  </button>
  <span class="text_button_padding"><%= t("web-app-theme.or", :default => "or") %></span>
	<%= link_to t("web-app-theme.cancel", :default => "Cancel"), incidents_path, :class => "text_button_padding link_button" %>
</div>

<% end %>