<%= semantic_form_for(@incident) do |f| %>
	<%= f.input :tipo, :as => :select, :collection => Incident::TIPOS%>
	<%= f.input :estado, :as => :select, :collection => ['Help-desk']%>
	<%= f.input :descricao%>

	<br>
	<div class="group navform wat-cf">
	  <button class="button" type="submit">
	    <%= image_tag("web-app-theme/icons/tick.png", :alt => "#{t("web-app-theme.save", :default => "Save")}") %> <%= t("web-app-theme.save", :default => "Save") %>
	  </button>
	</div>

<% end %>